.col {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgb(231, 230, 227);
    border-radius: 20px;
}

.i {
    line-height: 60px;
    text-align: center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40%;
    padding-top: 20px;
}

.input {
    padding: 30px;
    text-align: center;
    font-size: 50px;
    font-weight: 600px;
    width: 50%;
    height: 50%;
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 15px rgb(102, 102, 102);
    cursor: pointer;
}

span {
    cursor: text;
    color: #fff;
    text-shadow: 0px 0px 15px rgb(125, 124, 124);
    font-size: 1.6rem;
}

*::selection {
    background-color: rgb(255, 255, 255);
}




body {
    margin: 0;
    background: #020202;
    cursor: crosshair;
    box-sizing: border-box;
}

canvas {
    display: block
}

h1 {
    text-align: center;
    position: absolute;
    top: 10%;
    /* left: 53%; */
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 5em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
}


@media only screen and (max-width: 600px) {
    .input {
        padding: 10%;
        font-size: 30px;
    }

    .i {
        top: 50%;
        line-height: 40px;
    }

    h1 {
        font-size: 5rem;
        top: 15%;
    }

    span {
        font-size: 1.3rem;
    }
}



h1 {

    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);

    /* Clip Background Image */

    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

    /* Animate Background Image */

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

    /* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;

}

/* Animate Background Image */

@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

/* //border */


body {
    overflow: hidden;
}

a span:nth-child(1) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, rgb(0, 0, 0), #3bff3b);
    animation: animate1 4s linear infinite;
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

a span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 5px;
    background: linear-gradient(to bottom, #000000, #3bff3b);
    animation: animate2 4s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

a span:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to left, #000000, #3bff3b);
    animation: animate3 4s linear infinite;
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

a span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background: linear-gradient(to top, #000000, #3bff3b);
    animation: animate4 4s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}
